# Split Method

The split() method splits a string into a list.

You can specify the separator, default separator is any whitespace.

Note: When maxsplit is specified, the list will contain the specified number of elements plus one.\


string.split(separator, maxsplit)

In [1]:
txt = "apple#banana#cherry#orange"

x = txt.split("#", 1)

print(x)

['apple', 'banana#cherry#orange']

# Strip Method

The strip() method removes any leading (spaces at the beginning) and trailing (spaces at the end) characters (space is the default leading character to remove)

string.strip(characters)

In [2]:
txt = ",,,,,rrttgg.....banana....rrr"

x = txt.strip(",.grt")

print(x)

banana

# Replace Method

The replace() method replaces a specified phrase with another specified phrase.

Note: All occurrences of the specified phrase will be replaced, if nothing else is specified.

string.replace(oldvalue, newvalue, count)

In [3]:
txt = "one one was a race horse, two two was one too."

x = txt.replace("one", "three", 2)

print(x)

three three was a race horse, two two was one too.

# Center Method

The center() method will center align the string, using a specified character (space is default) as the fill character.

string.center(length, character)

In [4]:
txt = "banana"

x = txt.center(20, "O")

print(x)

OOOOOOObananaOOOOOOO

# Title Method

The title() method returns a string where the first character in every word is upper case. Like a header, or a title.

If the word contains a number or a symbol, the first letter after that will be converted to upper case.

string.title()

In [5]:
txt = "hello b2b2b2 and 3g3g3g"

x = txt.title()

print(x)

Hello B2B2B2 And 3G3G3G

# List Data Types

# append()

In [6]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

# remove()

In [7]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

# pop()

Note: If not specified which one to remove, it will remove from the last.

In [9]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

# sort()

The sort() method sorts the list ascending by default.

You can also make a function to decide the sorting criteria(s).

list.sort(reverse=True|False, key=myFunc)

In [12]:
cars = ['Ford', 'BMW', 'Volvo']

cars.sort(reverse=True)
print(cars)

['Volvo', 'Ford', 'BMW']

In [16]:
Language = [ 'java', 'c', 'c++', 'ruby' ]
Company = ['Dassault','Infosys','TCS']
cars_brands = ['Ford', 'Mitsubishi', 'BMW', 'VW']
C_parts = ['Processor','Ram','SSD','Motherboard']
C_brands = ['Apple','HP','Dell','Lenovo']

# Mutable and Immutable

Mutable objects can change their state or contents and immutable objects canâ€™t change their state or content.

Mutable example : list, dict, set.

Immutable Example : int, float, bool, string, unicode, tuple.

# Identifiers

An identifier is a name given to entities like class, functions, variables, etc. It helps to differentiate one entity from another.

1.Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore _. Names like myClass, var_1 and print_this_to_screen, all are valid example.

2.An identifier cannot start with a digit. 1variable is invalid, but variable1 is a valid name.

3.Keywords cannot be used as identifiers.

4.We cannot use special symbols like !, @, #, $, % etc. in our identifier.

5.An identifier can be of any length.